body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.cat-container {
  position: relative;
  width: 350px;
  cursor: crosshair;
  margin-top: 50px;
}

.cat-body {
  width: 100%;
  display: block;
}

/* Eye Positions */
.eye {
  position: absolute;
  width: 50px; 
  height: 65px;
  background: white;
  border-radius: 50%;
  top: 19%; 
}
.left-eye { left: 33%; }
.right-eye { left: 52%; }

.pupil {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #4B0082;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Electrocution Effect */
.cat-container:hover .cat-body {
  animation: shake 0.1s infinite;
  filter: invert(1) hue-rotate(180deg) brightness(2) drop-shadow(0 0 15px yellow);
}

.zap-text {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  color: #4B0082;
  font-weight: 500;
  font-size: 3.5rem;
  opacity: 1;
  text-shadow: 4px 4px 0px #faf6c3, 0 0 30px yellow;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.cat-container:hover .zap-text {
  opacity: 1;
}

@keyframes shake {
  0% { transform: translate(2px, 2px); }
  50% { transform: translate(-4px, 1px); }
  100% { transform: translate(2px, -2px); }
}
