body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.cat-container {
  position: relative;
  width: 350px;
  margin: 150px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*cursor: crosshair;
  margin-top: 50px;*/
}

.shake-wrapper {
  position: relative;
  width: 100%;
}

.cat-body {
  width: 100%;
  display: block;
}

/* Eye Positions */
.eye {
  position: absolute;
  width: 50px; 
  height: 65px;
  background: white;
  border-radius: 50%;
  top: 19%; 
}
.left-eye { left: 33%; }
.right-eye { left: 52%; }

.pupil {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #4B0082;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Electrocution Effect */
.cat-container:hover .shake-wrapper{
  animation: cat-shake 0.1s infinite;
}
.cat-container:hover .cat-body{
  filter: invert(1) hue-rotate(180deg) brightness(2) drop-shadow(0 0 15px yellow);
}

.zap-text {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  color: #4B0082;
  font-weight: 500;
  font-size: 4.5rem;
  opacity: 1;
  /*text-shadow: 4px 4px 0px #faf6c3, 0 0 30px yellow;*/
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
  text-shadow:none;
  transition: color 0.2s, text-shadow 0.2s;
}

.cat-container:hover .zap-text {
  color: #ffd700;

  text-shadow:
    4px 4px 0px #ff0000,
    0 0 20px #fff, 
    0 0 40px #ff0;

  animation: name-shake 0.1s infinite, flicker 0.2s infinite;
  /*opacity: 1;*/
}

@keyframes name-shake {
  0% { transform: translate(calc(-50% + 2px), 2px); }
  50% { transform: translate(calc(-50% - 4px), 1px); }
  100% { transform: translate(calc(-50% + 2px), -2px); }
}
@keyframes cat-shake {
  0% { transform: translate(2px, 2px); }
  25% { transform: translate(-2px, -2px); }
  50% { transform: translate(-3px, 1px); }
  75% { transform: translate(3px, -1px); }
  100% { transform: translate(2px, 2px); }
}
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}
