<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body class="{% if page.url == '/' or page.url == '/index.html' %}home{% endif %}">

  <div class="sidebar">
    <a href="{{ '/' | relative_url }}" class="nav-link">HOME</a>
    <a href="{{ '/about' | relative_url }}" class="nav-link">ABOUT ME</a>
    <a href="{{ '/projects' | relative_url }}" class="nav-link">PROJECTS</a>
    <a href="{{ '/contact' | relative_url }}" class="nav-link">CONTACT</a>
  </div>
  
  <main class="main-content">
    {{ content }}
  </main>

  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
