<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <nav style="text-align: center; padding: 20px;">
    <a href="{{ site.baseurl }}/" style="margin-right: 15px;">Home</a>
    <a href="{{ site.baseurl }}/about">About Me</a>
  </nav>

  {{ content }}

  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
